<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    <div class="container d-flex align-items-center justify-content-center min-vh-100">
        <div class="row border rounded-5 p-3 bg-white shadow box-area" >
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background-color: #02e8e5">
                <div class="featured-image mb-3">
                    <img src="https://midoshriks-school.netlify.app/assets/sing/imgs/login-form-img.png" width="250px">

                </div>
                <p class="text-white fs-2">Be Verified</p>
                <small class="text-white text-wrap text-center">Join experienced Designers on this platform.</small>
            </div>
            <div class="col-md-6">
                <div>
                    <h2>Hello, Again</h2>
                    <p>We are happy to have you back.</p>
                    <form th:action="@{/login}" method="post">
                        <div class="input-group mb-3">
                            <input type="email" placeholder="Email address" class="form-control form-control-lg bg-light fs-6">

                        </div>
                        <div class="input-group mb-3">
                            <input type="password" placeholder="Pass word" class="form-control form-control-lg bg-light fs-6">

                        </div>
                    </form>


                    <div class="input-group md-5 d-flex justify-content-between">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="formCheck">
                            <label for="formCheck" class="form-check-label text-secondary"><small>Remember Me</small></label>
                        </div>
                        <div class="forgot">
                            <small><a href="#">Forgot Passsword</a> </small>
                        </div>
                    </div>
                    <div class="btn-group mb-3" style="width: 100%">
                        <button type="submit" class="btn btn-lg btn-light w-100 fs-6" style="background-color: #02e8e5">Login</button>
                    </div>
                    <div class="btn-group mb-3" style="width: 100%">
                        <button class="btn btn-lg btn-light w-100 fs-6"><img style="width: 20px; align-items: center; justify-content: center" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpJ20a1arvwqPXEyHoGer8g2sNveUrFKB_Rg&s"><img>
                            Sign In With Google
                        </button>

                    </div>
                    <div class="btn-group mb-3">
                        <small>Don't have account? <a href="register-form">Sign Up</a> </small>
                    </div>



                </div>
            </div>
        </div>


    </div>
</body>
</html>